<form action="{% url 'erc_app:query' interview.id %}" method="post">
	{% csrf_token %}
	{{form.as_p}}
	<input type="radio" id="choiceskip" name="choice" value="0"/>
	<label for="choiceskip">Skip this question.</label><br/>
	<input type="submit" value="Next"/>
</form>
